/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    /* Faz a rolagem ser suave */
}

body {
    background-color: #f3f3f3;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main {
    max-width: 1300px;
}

/* Apenas para visualização das seções */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #020242;
    color: white;
}