@charset "UTF8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #1212a5;
    color: white;
    height: 150px;
    text-align: center;
}

header h1{
    padding: 15px 10px 0px 10px;
    font-size: 4em;
}

header p {
    padding: 0px 10px 33px 10px;
    font-size: 1.5em;
}

nav{
    background-color: #a00101;
    padding: 10px;
    text-align: left;
}

nav > a{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 20px;
}

nav > a:hover{
    background-color: white;
    color: red;
    text-decoration: underline;
    border-radius: 50%;
}

main{
    margin-top: 37px;
    background-color: rgb(255, 154, 154);
}
main section{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

main section > h1{
    text-align: center;
    background-color: lightblue;
}

main section > p{
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}

footer{
    background-color: red;
    color: white; 
    text-align: center;
    padding: 10px;   
}