@charset "UTF8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

header{
    background-color: rgb(69, 69, 255);
    color: white;
    height: 200px;
    text-align: center;
}

header h1{
    padding: 15px 10px 0px 10px;
    font-size: 4em;
}

header p {
    padding: 0px 10px 33px 10px;
    font-size: 1.5em;
}

nav{
    background-color: red;
    padding: 10px;
}

nav > a{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    margin-left: 20px;
}

nav > a:hover{
    background-color: white;
    color: red;
    text-decoration: underline;
    border-radius: 20px;
}



main section{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

main section > h1{
    text-align: center;
    background-color: lightblue;
}

main section > p{
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}

footer{
    background-color: rgb(69, 69, 255);
    color: white; 
}

footer p{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin: 0%;
}